.prokrutka{
	height: 550px; /* ?????? ?????? ????? */
	width: 550px; /* ?????? ?????? ????? */
	background: #fff; /* ???? ????, ????? */
	border: 1px solid #C1C1C1; /* ?????? ? ???? ??????? ????? */
	overflow-x: scroll; /* ????????? ?? ??????????? */
	overflow-y: scroll; /* ????????? ?? ????????? */
	margin : auto;/*viravnivanie tablic po centre ocna */
	text-align : center ;/*viravnivanie text po centre */
}	

.diff{
	width : 500px;/*shirina tablic*/
	border : 1px solid green;/*ramka vokrug tablic*/
	margin : auto;/*viravnivanie tablic po centre ocna */
	text-align : left ;/*viravnivanie text po left */
	
}
.diff_add {
	
	background-color : #eaffea ;
}
.diff_sub{
	
	background-color : #ffecec;
}
.diff_next{
	text-align:center;
	width : 35px;
	background-color: #ffdddd;
	border-color: #f1c0c0;
}
.diff_header {
	text-align:center;
	width : 35px;
	background-color :#dbffdb;
	border-color: #c1e9c1;
}
